<div class="first-heading" style="display: flex;">
<div>
    <h1 class="heading">The First Heading <span>Will Catch Your Eye</span></h1>
<p>Each student works on a different file, for a different part of the website, and the most senior can work as Team Leader (for integration and deployment), unless the teacher prefers to be the team leader of the whole class. The Html-Template-Engine library will take care of putting all the pieces together.</p>
</div>
<div>
    <img src="assets/img/1.jpg" class="rounded-circle" alt="avatar">
</div>
</div>

